#programs {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin: 64px auto;
}
  
#programs .program {
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 25%;
}

#programs .program:nth-child(2) {
    margin: 0 16px;
}

#programs .program h2 {
    color: #0280cd;
    text-align: center;
}

#programs .program p {
    text-align: left;
}

#programs .program img {
    height: auto;
    display: block;
    margin: 20px auto;
    width: 100px;
}