#programs {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin: 64px 0;
}
  
#programs .program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 25%;
}

#programs .program h2 {
    font-weight: bold;
    text-align: center;
}

#programs .program p {
    text-align: center;
}

#programs .program:nth-child(2) {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
}
  
#programs .program:nth-child(2) img {
    height: auto;
    display: block;
    margin: 20px auto;
    width: 100px;
}