#aboutUs {
    align-items: stretch;
    display: flex;
    margin: 48px auto;
    justify-content: space-between;
}

#aboutUs div {
    align-items: center;
    display: flex;
    height: 250px;
    width: 49%;
}

#aboutUs .picturesBox {
    border-radius: 16px;
    box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.20), inset 0px 2px 17px 0px rgba(0,0,0,0.20);
    overflow: hidden;
    padding: 0 32px;
}

#aboutUs .pictures {
    border-radius: 16px;
    overflow: hidden;
    padding: 0 32px;
}

#aboutUs .pictures .picturesList img {
    height: 100%;
    margin: 16px 0;
}

#aboutUs .texts {
    padding: 0 32px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}