#pillars {
    display: flex;
    flex-wrap: wrap;
    margin: 64px 0;
}
  
#pillars .pillar {
    width: 45%;
    padding: 20px;
}
  
#pillars .pillar h2 {
    color: #0280cd;
    font-weight: bold;
}
  
#pillars .pillar:nth-child(-n+2) {
    margin-bottom: auto;
}
  