#based {
    align-items: stretch;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 64px auto;
    max-width: 90%;
}

#based .global {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#based .world img {
    height: 100px;
}

#based .regions img {
    height: 150px;
}

#based .detail {
    display: flex;
    justify-content: center;
}

#based .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#based .text h2 {
    color: #0280cd;
}

#based .text p {
    padding: 0;
    text-align: left;
}

@media (max-width: 768px) {
    #based {
        flex-direction: column;
    }
    .africaDetail,
    .global {
        margin: 16px;
    }
}
