/*
    Carousel with dots, example:


*/

.carouselDots { 
    border-radius: 16px;
    box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.20), inset 0px 2px 17px 0px rgba(0,0,0,0.20);
    position: relative;
    overflow: hidden;
}

.carouselDots .contents {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: -10;
}

.carouselDots .contents > * {
    height: 100%;
    width: 100%;
}