.carouselBox { 
    position: relative;
}
.carouselBox .hidden { 
    overflow: hidden;
}
.carouselBox .contents { 
    box-sizing: border-box;
    display: flex;
    height: 500px;
    transform: translate3d(0, 0, 0);
    transition: transform 250ms 0ms ease;
}
.carouselBox .content { 
    background-color: lightgrey;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: relative;
}

.carouselBox .content .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carouselBox .content p {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    font-size: 1.2em;
    left: 0;
    line-height: 1.5;
    margin: 0;
    padding: 16px 64px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    z-index: 1;
}


.carouselBox .leftArrowBox { 
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 250ms 0ms ease, opacity 250ms 0ms ease;
    width: 50px;
}
.carouselBox .leftArrow { 
    border-right: solid 8px white;
    border-top: solid 8px white;
    cursor: pointer;
    height: 16px;
    transform: rotate3d(0, 0, 1, 225deg);
    width: 16px;
}
.carouselBox .rightArrowBox { 
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 250ms 0ms ease, opacity 250ms 0ms ease;
    width: 50px;
}
.carouselBox .rightArrow { 
    border-right: solid 8px white;
    border-top: solid 8px white;
    cursor: pointer;
    height: 16px;
    transform: rotate3d(0, 0, 1, 45deg);
    width: 16px;
}