@import url("shadows/common.css");

:host {
    background-color: white;
    display: block;
}

.root {
    padding-top: 16px;
}

.root h1 {
    color: #0280cd;
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .root h1 {
        font-size: 1.75em;
    }
}