@import url("shadows/common.css");

:host {
    background-color: white;
    display: block;
}

.root {
    align-items: stretch;
    background-color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .root {
        flex-direction: column;
    }
}

.root p {
    margin: 8px 0;
}

.root .text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    padding: 0 32px;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .root .text {
        font-size: 1em;
        text-align: center;
        width: 100%;
    }
}

.root .containerImage {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 16px 0;
    justify-content: center;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .root .containerImage {
        width: 100%;
    }
}

.root .containerImage img {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 2px 17px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    filter: saturate(1.25);
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.root .imageJoeur  {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 16px 32px;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .root .imageJoeur {
        width: 100%;
    }
}

.root .imageJoeur img {
    object-fit: cover;
    overflow: hidden;
    width: 300px;
}

.root .imageCarousel  {
    box-sizing: border-box;
    display: flex;
    height: 300px;
    padding: 16px 32px;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .root .imageCarousel {
        width: 100%;
    }
}

.root .imageCarousel sdw-carousel-arrows {
    border-radius: 16px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 2px 17px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}