.introBackground {
    align-items: center;
    background-image: url("images/introBack.jpg");
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.8);
    display: flex;
    height: 500px;
}

@media only screen and (max-width: 768px) {
    .introBackground {
        height: 300px;
    }
}

.intro {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.intro h1 {
    font-size: 2.5em;
}

.intro p {
    font-size: 1.25em;
    margin: 0;
}