.promoBackground {
    background-color: #443B24;
}
  
.promo {
    display: flex;
    flex-direction: column;
}

.promo > h1 {
    color: white;
    margin: 32px 0;
    margin-bottom: 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .promo > h1 {
        font-size: 1.75em;
    }
}
  
.promo .inscription {
    align-items: stretch;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    margin-bottom: 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .promo .inscription {
        flex-direction: column;
    }
}

.promo .inscription div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    padding: 16px 32px;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .promo .inscription div {
        font-size: 1em;
        width: 100%;
    }
}

.promo .inscription img {
    /* filter: saturate(1.5) hue-rotate(-30deg); */
    filter: saturate(1.5);
    height: 300px;
    object-fit: cover;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .promo .inscription img {
        width: 100%;
    }
}

.promo .method {
    align-items: stretch;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    margin-bottom: 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .promo .method {
        flex-direction: column;
    }
}

.promo .method img {
    filter: saturate(1.5);
    height: 300px;
    object-fit: cover;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .promo .method img {
        width: 100%;
    }
}

.promo .method div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    padding: 16px 32px;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .promo .method div {
        font-size: 1em;
        width: 100%;
    }
}

.promo .contact {
    align-items: center;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin: 32px 0;
    overflow: hidden;
    padding: 16px 0;
}

@media only screen and (max-width: 768px) {
    .promo .contact {
        font-size: 0.9em;
    }
}

.promo .contact .row {
    display: flex;
    margin: 8px 0;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .promo .contact .row {
        flex-direction: column;
        width: 90%;
    }
}

.promo .contact .row .field {
    box-sizing: border-box;
    color: gray;
    padding: 0 2px;
    text-align: right;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .promo .contact .row .field {
        text-align: left;
    }
}
