.academyBackground {
    background-color: white;
}
  
.academy {
    display: flex;
    flex-direction: column;
}

.academy > h1 {
    color: #0280cd;
    margin: 32px 0;
    margin-bottom: 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .academy > h1 {
        font-size: 1.75em;
    }
}

.academy > h2 {
    color: #0280cd;
    font-weight: lighter;
    margin: 16px 0;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .academy > h2 {
        font-size: 1.25em;
    }
}

.academy .philosophie {
    align-items: stretch;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    margin-bottom: 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .academy .philosophie {
        flex-direction: column;
        width: 100%;
    }
}

.academy .philosophie div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    padding: 16px 32px;
    text-align: left;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .philosophie div {
        font-size: 1em;
        text-align: center;
        width: 100%;
    }
}

.academy .philosophie .containerImage {
    align-items: center;
    display: flex;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .philosophie .containerImage {
        width: 100%;
    }
}

.academy .philosophie .containerImage img {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 2px 17px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    filter: saturate(1.5) saturate(1.5) hue-rotate(332deg);
    object-fit: cover;
    overflow: hidden;
    width: 90%;
}

.academy .developmentTalent .title {
    background-color: lightgray;
    border-radius: 8px;
    margin: 32px 0;
    text-align: center;
    padding: 16px;
}

.academy .developmentTalent .squares {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .academy .developmentTalent .squares {
        flex-wrap: wrap;
    }
}

.academy .developmentTalent .squares > div {
    align-items: center;
    background-color: rgb(232, 232, 232);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    margin: 0 8px;
    padding: 16px;
    text-align: center;
    max-width: 150px;
}

@media only screen and (max-width: 768px) {
    .academy .developmentTalent .squares > div {
        margin: 8px 0;
        width: 45%;
    }
}

.academy .developmentTalent .squares > div:first-child {
    margin-left: 0;
}

.academy .developmentTalent .squares > div:last-child {
    margin-right: 0;
}

.academy .developmentIndividuel {
    align-items: stretch;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    margin-bottom: 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .academy .developmentIndividuel {
        flex-direction: column;
        width: 100%;
    }
}

.academy .developmentIndividuel div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    padding: 16px 32px;
    text-align: left;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .developmentIndividuel div {
        font-size: 1em;
        text-align: center;
        width: 100%;
    }
}

.academy .developmentIndividuel .containerImage {
    align-items: flex-end;
    display: flex;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .developmentIndividuel .containerImage {
        width: 100%;
    }
}

.academy .developmentIndividuel .containerImage img {
    border-radius: 16px;
    filter: saturate(1.5);
    object-fit: cover;
    overflow: hidden;
    width: 300px;
}

.academy .containerAnalysis {
    display: flex;
    justify-content: center;
}

.academy .containerAnalysis img {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 2px 17px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    filter: saturate(1.5);
    max-height: 250px;
    object-fit: cover;
    overflow: hidden;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .containerAnalysis img {
        width: 90%;
    }
}

.academy .spanishMethodology {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

@media only screen and (max-width: 768px) {
    .academy .spanishMethodology {
        flex-direction: column;
    }
}

.academy .spanishMethodology > div {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .spanishMethodology > div {
        width: 100%;
    }
}

.academy .spanishMethodology .texts {
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
}

.academy .spanishMethodology .progress > div {
    background-color: #bccfdb;
    border-radius: 8px;
    margin: 8px 0;
    padding: 8px;
    width: 225px;
}

.academy .activities {
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .academy .activities {
        flex-wrap: wrap;
    }
}

.academy .activities > div {
    align-items: center;
    background-color: rgb(232, 232, 232);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    margin: 0 8px;
    padding: 16px;
    justify-content: center;
    text-align: center;
    width: 150px;
}

@media only screen and (max-width: 768px) {
    .academy .activities > div {
        margin: 8px 0;
        width: 45%;
    }
}

.academy .activities > div:first-child {
    margin-left: 0;
}

.academy .activities > div:last-child {
    margin-right: 0;
}

.academy .formationIntegrale {
    align-items: stretch;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
    margin-bottom: 0;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .academy .formationIntegrale {
        flex-direction: column;
        width: 100%;
    }
}

.academy .formationIntegrale .containerImage {
    align-items: center;
    display: flex;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .formationIntegrale .containerImage {
        width: 100%;
    }
}

.academy .formationIntegrale .containerImage img {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 2px 17px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    filter: saturate(1.5);
    max-height: 250px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    width: 90%;
}

.academy .formationIntegrale div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .academy .formationIntegrale div {
        font-size: 1em;
        text-align: center;
        width: 100%;
    }
}

.academy .pepMari {
    margin: 32px 0;
}

.academy .pepMari .text {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 0;
}

.academy .pepMari .signature {
    color: rgb(107, 107, 107);
    text-align: right;
    margin-top: 0;
}

.academy .educationValeurs {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

@media only screen and (max-width: 768px) {
    .academy .educationValeurs {
        align-items: center;
        flex-direction: column;
    }
}

.academy .educationValeurs .containerImage {
    align-items: center;
    display: flex;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .academy .educationValeurs .containerImage {
        justify-content: center;
        width: 100%;
    }
}

.academy .educationValeurs .containerImage img {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 2px 17px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    filter: saturate(1.5);
    max-height: 250px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .academy .educationValeurs .list {
        align-items: center;
        text-align: center;
    }
}

.academy .coaches {
    display: flex;
    justify-content: space-around;
    margin:
     32px 0;
}

@media only screen and (max-width: 768px) {
    .academy .coaches {
        align-items: center;
        flex-direction: column;
        text-align: justify;
    }
}

.academy .coach {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
    max-width: 50%;
}

.academy .coaches img {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 2px 17px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    overflow: hidden;
    object-fit: cover;
    height: 150px;
    margin-bottom: 16px;
    max-width: 100px;
}

.academy .coaches .name {
    font-weight: bold;
    margin: 0;
}